<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update phone</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
<!--  <input type="text" name="brand" value='{{phone.brand}}' placeholder='brand'>-->
<!--  <input type="text" name="model" value='{{phone.model}}' placeholder='model'>-->
<!--  <input type="text" name="country" value='{{phone.country}}' placeholder='country'>-->
<!--  <input type="number" name="year" value='{{phone.year}}' placeholder='year'>-->
<!--  <input type="text" name="color" value='{{phone.color}}' placeholder='color'>-->
<!--  <input type="number" name="price" value='{{phone.price}}' placeholder='price'>-->
<!--  <input type="text" name="description" value='{{phone.description}}' placeholder='description'>-->
<!--  <input type="file" name="image" value='{{phone.image.url}}'>-->
  <button type="submit">Save</button>
</form>
</body>
</html>